---
---

@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* Variables */

$color-bg: linear-gradient(180deg, #f495d2, hsl(269, 44%, 15%));

/* Styles */

html,
body {
  height: 100%;
}

* {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Monda', sans-serif;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

p {
  font-size: 1.15rem;
}

.fullcaps {
  text-transform: uppercase;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  max-width: 910px;
  width: 100%;
  height: 100%;
  max-height: 700px;
}

.landing {
  text-align: center;
}

.button-group {
  display: flex;
  width: 100%;
  text-align: center;
}

.button {
  padding: 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  width: 33.333%;
  transition: all 0.25s ease-out;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: black;
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 64px;
  height: 64px;
  opacity: 0.3;
  transition: all 0.25s ease-out;
}

.close:hover {
  opacity: 1;
  cursor: pointer;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 66px;
  width: 2px;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.logo {
  img {
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    height: 100%;
  }
}

.panel {
  padding: 5px;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
  .lefthalf{
    padding:5px;
    width:50%;
    float:left;
  }
  .righthalf{
    padding:5px;
    width:45%;
    float:right;
  }
}

.our-work {
  .work-group {
    min-width: 100%;
    display: flex;
  }
  .work-item {
    width: 64px;
    height: 64px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
      filter: grayscale(1);
    }
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  z-index: -1;
}
.blurb{
  font-size: 1.5rem;
}
.social{
  width:100%;
  font-size:2rem;
  display:flex;
  margin-top: 0.25rem;
  .social-container{
    margin-right:auto;
    margin-left:auto;
    i{
      padding:10px;
      transition: all 0.25s ease-out;
      border: 1px solid transparent;
      &:hover{
        border: 1px solid white;
        border-radius: 50px;
        background-color: white;
        color: black;
      }
    }
  }
}
.bottom-nav{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.workPage{
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}
//mobile rules
@media all and (max-width:768px){
  h1{
    font-size: 1.5em;
  }
  h2{
    font-size: 1em;
  }
  .close{
    top:0;
    right:0;
  }
  .panel{
    .lefthalf,.righthalf{
      width: 100%;
    }
  }
  .button{
    padding: 10px;
  }
  p,.blurb{
    font-size: 1.25em;
  }
}
