---
---

@import url('https://fonts.googleapis.com/css?family=Monda');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* Variables */

$color-bg: linear-gradient( 180deg,
#180740,
#32023d);

/* Styles */

html,
body {
  height: 100%;
}

* {
  //transition: all 0.5s ease-out;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Monda', sans-serif;
}

h1 {
  font-size: 5rem;
  margin: 0;
}

p {
  font-size: 1.15rem;
}

.fullcaps {
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
  padding: 25px;
  max-width: 901px;
  width: 100%;
  height: 100%;
  max-height: 577px;
}

.landing {
  text-align: center;
}

.button-group {
  display: flex;
  width: 100%;
}

.button {
  padding: 20px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
  width: 33.333%;
  transition: all 0.25s ease-out;
  &:hover {
    background-color: white;
    color: black;
  }
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 64px;
  height: 64px;
  opacity: 0.3;
  transition: all 0.25s ease-out;
}

.close:hover {
  opacity: 1;
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 66px;
  width: 2px;
  background-color: white;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.logo {
  img {
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
  }
  margin:2em;
}

.panel {
  padding: 5px;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: 0;
  left: 0;
}

.our-work {
  .work-group {
    min-width: 100%;
    display: flex;
  }
  .work-item {
    width: 64px;
    height: 64px;
    margin: 5px;
    border: 1px solid white;
    border-radius: 5px;
    &:hover {
      filter: grayscale(1);
    }
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-bg;
  background-blend-mode: screen;
  background-size: cover;
  z-index: -1;
}
