<section id="about-us">
        <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Who are we?</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <p class="text-center">I dunno really. But we're trying to make cool games in and outside of VR. We see a fun and exciting future in weird games and joined together to make it happen.</p>
            </div>
</section>
