<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include nav.html %}

<body id="page-top">

    <script>
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://assets.gfycat.com/gfycat.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'gfycat-js'));
    </script>
  <section class="bg-primary doubleshot" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">DOUBLE SHOT</h2>
                <hr class="light">
                <p class="text-faded">VR Bartender/Shooter with 80's flair.</p>
                <a href="https://aberrantrealities.tumblr.com" target="_blank" class="btn btn-default btn-xl">Development Blog</a>
            </div>
        </div>
    </div>
  </section>

  <div class="container">
    <div class="row"></div>
  </div>
  <div class="container-fluid">
      <div class="row no-gutter">
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='ImpassionedBareKillifish' data-responsive='true'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='DearSpicyKingbird'data-responsive='true'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='VapidSardonicBlobfish'data-responsive='true'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='NeatNastyAmericantoad' data-responsive='true'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='ImpoliteWarlikeAurochs' data-responsive='true'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='CrazyFrigidIchneumonfly' data-responsive='true'></div></div>         
      </div>
  </div>

</body>
{% include contact.html %}
{% include scripts.html %}
</html>