<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include nav.html %}
<body id="page-top">
    <script>
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://assets.gfycat.com/gfycat.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'gfycat-js'));
  </script>

  <div class="container">
    <div class="row"></div>
  </div>
  <div class="container-fluid">
      <div class="row no-gutter">
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='ImpassionedBareKillifish'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='DearSpicyKingbird'></div></div>
         <div class="col-lg-4 col-sm-6"><div class='gfyitem' data-id='ImpassionedBareKillifish'></div></div>
      </div>
  </div>

</body>
{% include contact.html %}
{% include scripts.html %}
</html>